body {
  // background: url("https://wallpaperaccess.com/full/1332228.jpg");
  background: url("https://free4kwallpapers.com/uploads/originals/2017/06/20/minimal-monochrome-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
