@use "../modules/mixins.scss";

.gallery {
  display: grid;
  justify-content: center;
  margin-top: 5rem;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  border: 1px solid black;

  &__item {
  }
}
