@use "../modules/mixins.scss";

.home {
  @include mixins.center;
  flex-direction: column;

  &__text > h1 {
    @include mixins.header;
    margin-top: 18rem;
    font-size: 4rem;
  }

  &__text > h2 {
    @include mixins.header;
    margin-top: 0.4rem;
    font-size: 2rem;
  }
}
