@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap");
%nav-logo {
  font-family: "Birthstone Bounce", cursive;
  font-size: 35px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

%nav-links {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
