@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap");
@font-face {
  font-family: "Birthstone Bounce";
  src: url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap");
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-nav {
  height: 90px;
}

.logo {
  color: black;
  line-height: 90px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "Birthstone Bounce";
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}

.navlinks li a:hover {
  color: #7ebcb9;
  padding-bottom: 7px;
  border-bottom: 2px solid #7ebcb9;
}

li a.contact {
  background-color: lightgray;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}

li a.contact:hover {
  background-color: #7ebcb9;
  color: white;
  border-bottom: none;
}

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: black;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    right: -100%;
    background: lightgray;
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    color: black;
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  .menu-btn {
    display: block;
  }

  #check:checked ~ .navlinks {
    right: 0;
  }
}
@media (max-width: 360px) {
  .logo {
    margin-left: 10px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
  }

  .menu-btn:focus {
    color: #7ebcb9;
  }
}
body {
  background: url("https://free4kwallpapers.com/uploads/originals/2017/06/20/minimal-monochrome-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__input {
  width: 250px;
  height: 20px;
  border-radius: 6px;
  margin: 15px;
}
.form__input--btn {
  width: 150px;
  border-radius: 6px;
  margin: 15px;
}
.form__text-area {
  width: 360px;
  height: 300px;
  border-radius: 7px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 8rem;
}
.container__text {
  font-size: 1.5rem;
  width: 33%;
}
.container__image > img {
  border-radius: 8px;
}
.container__image > img--md {
  width: 20rem;
  height: 15rem;
}
.container__image > img--sm {
  width: 3rem;
  height: 3rem;
}
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
  .container__text {
    width: 60%;
  }
}

.icon__container {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.image {
  border-radius: 8px;
}
.image--md {
  width: 20rem;
  height: 15rem;
}
.image--sm {
  width: 3rem;
  height: 3rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__text > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 15rem;
  margin-top: 18rem;
  font-family: "Birthstone Bounce", cursive;
  font-size: 4rem;
  color: black;
}
.home__text > h1--h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5rem;
}
.home__text > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 15rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.4rem;
  font-size: 2rem;
}
.home__text > h2--h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5rem;
}

* {
  box-sizing: border-box;
}

.gallery {
  margin-top: 8rem;
  padding: 0 6px;
  float: left;
  width: 24%;
}
.gallery__item {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.gallery__item img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}
.gallery__item:hover {
  border: 8px solid red;
}

@media only screen and (max-width: 800px) {
  .gallery {
    width: 49%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 600px) {
  .gallery {
    width: 100%;
  }
}
div.desc {
  padding: 15px;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 8px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 15rem;
}
.header--h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5rem;
}
