@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap");
.nav__logo > a {
  font-family: "Birthstone Bounce", cursive;
  font-size: 35px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav__items {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.nav__group {
  display: flex;
}
.nav__items {
  margin: 25px;
}

body {
  background: url("https://free4kwallpapers.com/uploads/originals/2017/06/20/minimal-monochrome-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__input {
  width: 250px;
  height: 20px;
  border-radius: 6px;
  margin: 15px;
}
.form__input--btn {
  width: 150px;
  border-radius: 6px;
  margin: 15px;
}
.form__text-area {
  width: 360px;
  height: 300px;
  border-radius: 7px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 8rem;
}
.container__text {
  font-size: 1.5rem;
  width: 33%;
}
.container__image > img {
  border-radius: 8px;
}
.container__image > img--md {
  width: 20rem;
  height: 15rem;
}
.container__image > img--sm {
  width: 3rem;
  height: 3rem;
}
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
  .container__text {
    width: 60%;
  }
}

.icon__container {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.image {
  border-radius: 8px;
}
.image--md {
  width: 20rem;
  height: 15rem;
}
.image--sm {
  width: 3rem;
  height: 3rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__text > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 15rem;
  margin-top: 18rem;
  font-family: "Birthstone Bounce", cursive;
  font-size: 4rem;
  color: black;
}
.home__text > h1--h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5rem;
}
.home__text > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 15rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.4rem;
  font-size: 2rem;
}
.home__text > h2--h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.projects__container {
  position: relative;
  width: 100%;
  max-width: 380px;
  border-radius: 8px;
}
.projects__container__image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.projects__container__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: peachpuff;
  border-radius: 8px;
}
.projects__container__icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .container__overlay {
  opacity: 1;
}

.fa-github:hover {
  color: lightblue;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 15rem;
}
.header--h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5rem;
}
